<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <header>
        <% include ../../partials/header.ejs %>
    </header>
    <main>
      <form class="form" method="post">
        <fieldset>
          <legend class="title">Enter a new password</legend>
          <div class="form-box">
            <inputname="email" id="email" type="hidden" value="<% user.email%>" required>
          </div>
          <div class="form-box">
            <input name="activation_token" type="hidden" value="<% user.activation_token %>" required>
          </div>
          <div class="form-box">
            <input class="input" name="password" id="password" type="password" minlength="8" maxlength="100" size="15" value="" required>
            <label for="password"> Enter your password </label>
          </div>
          <div class="form-box">
            <input class="input" name="confirm_password" id="confirm_password" type="password" minlength="8" maxlength="100" size="15" value="" required>
            <label for="confirm_password"> confirm password </label>
          </div>
        </fieldset>
        <button class="form-btn" value="Login" type="submit">Login</button>
        <a class="form-url" href="/password">Forgot Password?</a>
      </form>
      <% include ../../partials/flash-message.ejs %>
    </main>
    <footer>
        <% include ../../partials/footer.ejs %>
    </footer>
</body>

</html>