<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
                        </div>
                        <form class="card" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Create Password</div>
                                  <input name="email" id="email" type="hidden" value="<%= user.email%>" required>
                                  <input name="activation_token" type="hidden" value="<%= user.activation_token %>" required>
                                <div class="form-group">
                                    <label class="form-label" for="password">Password</label>
                                    <input  class="form-control" placeholder="Password" name="password" id="password" type="password"  minlength="3" maxlength="64" size="32" value="" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="confirm_password">Confirm password</label>
                                    <input  class="form-control" placeholder="Password" name="confirm_password" id="confirm_password" type="password"  minlength="3" maxlength="64" size="32" value="" required>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Create Password</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            <a href="/login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../../partials/flash-message.ejs %>
</body>

</html>