<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <header>
        <% include ../../partials/header.ejs %>
    </header>
    <main>
        This is where we are gonna include all new pages.
    </main>
    <footer>
        <% include ../../partials/footer.ejs %>
    </footer>
</body>

</html>