<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <!-- This page will be used as a template, 
        all the created pages should go between the main section;
        This is in order to keep the design the same across all sections.
    -->
    <header>
        <% include ../../partials/header.ejs %>
    </header>
    <h1><%= (typeof page == 'object' && page) ? page.title : ''%></h1>
    <main>
        <%= (typeof page == 'object' && page) ? page.ckeditor_html : ''%>
        This is where we are gonna include all new pages.
        <div>
          Author <%= (typeof page == 'object' && page) ? page.created_by : ''%>
        </div>
    </main>
    <footer>
        <% include ../../partials/footer.ejs %>
    </footer>
</body>

</html>