<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <!-- This page will be used as a template, 
        all the created pages should go between the main section;
        This is in order to keep the design the same across all sections.
    -->
    <header>
        <% include ../../partials/header.ejs %>
    </header>

    <main class="main-layout container push-footer-down clearfix">
        <%- (typeof page == 'object' && page) ? page.ckeditor_html : ''%>
    </main>
    <% include ../../partials/footer.ejs %>
</body>

</html>