<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
                        </div>
                        <form class="card" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Reset password</div>
                                <p class="text-muted">Please enter your email below and we will send a reset link.</p>
                                 <div class="form-group">
                                    <label class="form-label" for="email">Enter your email</label>
                                    <input name="email" type="email" id="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="confirm_password">Please confirm your email</label>
                                    <input name="confirm_email" type="email" id="confirm_email" class="form-control" id="confirm_email" placeholder="Confirm email">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Send me a password reset link</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            <a href="/login.html">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../../partials/flash-message.ejs %>
</body>

</html>