<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
                        </div>
                        <form class="card" action="" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Reset password</div>
                                <p class="text-muted">Enter your email address and we will send you a link to reset your password.</p>
                                <div class="form-group">
                                    <label class="form-label" for="email">Email address</label>
                                    <input name="email" type="email" id="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            <a href="./login.html">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>