<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
                        </div>
                        <form class="card" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Reset password</div>
                                <p class="text-muted">Please enter your new password.</p>
                                <div class="form-group">
                                  <input name="email" type="hidden" id="email" class="form-control" id="email" value="<% (typeof user == 'object' && user) ? user.email : ''%>">
                                </div>
                                <div class="form-group">
                                  <input name="forgot_password_token" type="hidden" id="forgot_password_token" class="form-control" id="forgot_password_token" value="<% (typeof user == 'object' && user) ? user.forgot_password_token : ''%>">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="password">Password</label>
                                    <input name="password" type="password" id="password" class="form-control" id="email" placeholder="Enter password">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="confirm_password">Confirm password</label>
                                    <input name="confirm_password" type="password" id="confirm_password" class="form-control" id="email" placeholder="Confirm password">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Update my password</button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center text-muted">
                            <a href="/login.html">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../../partials/flash-message.ejs %>
</body>

</html>