<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>
<body>
  <form class="form" action="/forgot-password" method="post">
    <fieldset>
      <legend class="title">Reset Your Password</legend>
      <div class="error">
        <div class="error-msg">
          It seems that email doesn't exist.
        </div>
        <div class="close-msg-pw">
          x
        </div>
      </div>
      <div class="form-box">
          Enter your email and we'll email you a link to reset your password.
      </div>
      <div class="form-box">
        <input class="input" id="email" type="email" minlength="3" maxlength="64" size="32" value="" required>
        <label for="email">Enter your email </label>
      </div>
    </fieldset>
    <button class="form-btn" value="Email Me" type="submit">Email Me</button>
    <a class="form-url" href="/login">Login</a>
  </form>
  <script src="./js/form.js"></script>
</body>

</html>