<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../../partials/header.ejs %>
  </header>
  <h2>Go to finish with flash message</h2>
  <footer>
      <% include ../../partials/footer.ejs %>
  </footer>
</body>
</html>