<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sign Up</title>
    <script src="ejs.js"></script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
        body {
            font-size: 20px !important;
            color: #333333 !important;
        }
    </style>
</head>

<body style="font-family: 'Lato', sans-serif; font-weight: 400; font-size: 20px">
    <center>
        <table class="wrapper" width="100%" style="padding: 1rem; max-width: 500px; background: white;
  border-top: 10px inset rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);">
            <tr>
                <td>
                    <table class="email-header" style="margin-bottom: 1rem; max-width: 500px;">
                        You wish to change your email:
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="email-body">
                        
                            <div style="font-size: 20px; border: none; color: rgb(255, 255, 255); padding: 1rem 2rem; margin-bottom: 0.5rem; background: rgb(146, 233, 255);">
                                You have successfully changed your email</div>
                       
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="email-footer" style="text-align: center;">
                        <tr>
                            <td>
                                <div>
                                    <a style=" color: #333333 !important; text-decoration: none !important; text-decoration: none;"> 2018 ginnybradley.co.uk</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    Built by developers at
                                    <a href="https://www.coderlist.io/" style="color: rgb(114, 190, 215) !important; text-decoration: underline !important; text-decoration: underline; ">coderlist.io</a>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>

</body>

</html>