<% if (typeof messages === "object" && messages.length > 0) { %>
  <p style="font-size: 1.5em; text-align: center; color: green; background-color: blue; height: 2em; width: 30em">
    <strong><%=messages %></strong>
  </p>
<% } %>
<% if (typeof message === 'object' && message.length > 0) { %>
  <p style="font-size: 1.5em; text-align: center; color: green; background-color: blue; height: 2em; width: 30em">
    <strong><%=message %></strong>
  </p>
<% } %>