<% if (typeof messages !== "undefined") { %>
  <p style="font-size: 1.5em; text-align: center; color: green; background-color: blue; height: 10em; width: 30em">
    <strong><%=messages %></strong>
  </p>
<% } %>