<% if (typeof messages !== "undefined" && messages.length > 0) { %>
  <p style="font-size: 1.5em; text-align: center; color: green; background-color: blue; height: 2em; width: 30em">
    <strong><%=messages %></strong>
  </p>
<% } %>
<% if (typeof message !== "undefined" && message.length > 0) { %>
  <p style="font-size: 1.5em; text-align: center; color: green; background-color: blue; height: 2em; width: 30em">
    <strong><%=message %></strong>
  </p>
<% } %>
<p style="font-size: 1.5em; text-align: center; color: green; background-color: blue; height: 2em; width: 30em">
    <strong><%=messages.value %></strong>
  </p>