<% if (typeof messages === "object" && messages.length > 0) { %>
  <div class="flash-messages">
    <span><%=messages %></span>
  </div>
<% } %>
<% if (typeof message === 'object' && message.length > 0) { %>
  <div class="flash-message">
    <span><%=message %></span>
  </div>
<% } %>