    <footer>
        <div class="container">
            <span class="copyright"> 2018 ginnybradley.co.uk </span>
            <span class="developed-by"> Built by developers at
                <a href="https://www.coderlist.io/">coderlist.io</a>
            </span>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="/js/main.js"></script>
