<div class="nav">
    <ul>
      <li class="home"><a href="/">Home</a></li>
      <li class="admin"><a href="/admin">Admin</a></li>
      <li class="login"><a href="/login">Login</a></li>
      <li class="about"><a href="/about">About</a></li>
      <li class="manageUsers"><a href="/users/manage-users">Manage Users</a></li>
      <li class="forgotPassword"><a href="/users/forgot-password">Forgot password</a></li>
      <li class="managePage"><a href="/content/manage-page">Manage Page</a></li>
      <li class="manageAllPages"><a href="/content/manage-all-pages">Manage all Page</a></li>
    </ul>
  </div>