<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Ginny Bradley</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<!-- reset browser styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
<!-- styles -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/ckeditor/editor-styles.css" />
