<nav class="navbar" role="navigation">
  <div class="navbar-brand">
      <div class="navbar-brand-name">
          Ginny Bradley
      </div>
      <div class="navbar-brand-description">
          Inspiring children's confidence &amp; wellbeing
      </div>
  </div>
  <div class="navbar-toggler navbar-toggler-icon">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
  </div>
  <div class="navbar-nav-modal"></div>
  <ul class="navbar-mobile collapse">
      <div class="navbar-mobile-nav">
          <div class="navbar-name">
              MENU
          </div>
          <div class="navbar-toggler navbar-toggler-icon">
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
              <span class="navbar-toggler-bar"></span>
          </div>
      </div>
      <li class="nav-item active">
          <a href="#">Home</a>
      </li>
      <li class="nav-item">
        <a href="#">About</a>
      </li>
      <li class="nav-item workshops">
          Workshops
      </li>
      <li class="nav-item dropdown">
          <ul class="dropdown-menu">
              <li class="dropdown-item">
                  <a>Private Sessions</a>
              </li>
              <li class="dropdown-item">
                  <a>Small Groups</a>
              </li>
              <li class="dropdown-item">
                  <a>Nursery Level</a>
              </li>
              <li class="dropdown-item">
                  <a>Weekly Classes</a>
              </li>
          </ul>
      </li>
      <li class="nav-item">
          <a>Contact</a>
      </li>
  </ul>
  <ul class="navbar-desktop">
      <li class="nav-item">
          <a>Home</a>
      </li>
      <li class="nav-item">
          <a>About</a>
      </li>
      <li class="nav-item dropdown">
          Workshops
          <ul class="dropdown-menu">
              <li class="dropdown-item">Private Sessions</li>
              <li class="dropdown-item">Small Groups</li>
              <li class="dropdown-item">Nursery Level</li>
              <li class="dropdown-item">Weekly Classes</li>
          </ul>
      </li>
      <li class="nav-item">
          <a>Contact</a>
      </li>
  </ul>
</nav>

<!-- <div class="nav">
    <ul>
      <li class="home"><a href="/">Home</a></li>
      <li class="admin"><a href="/admin">Admin</a></li>
      <li class="login"><a href="/login">Login</a></li>
      <li class="about"><a href="/about">About</a></li>
      <li class="manageUsers"><a href="/users/manage-users">Manage Users</a></li>
      <li class="forgotPassword"><a href="/users/forgot-password">Forgot password</a></li>
      <li class="managePage"><a href="/content/manage-page">Manage Page</a></li>
      <li class="manageAllPages"><a href="/content/manage-all-pages">Manage all Page</a></li>
    </ul>
  </div> -->