  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-brand-name">
            Ginny Bradley
        </div>
        <div class="navbar-brand-description">
            Inspiring children's confidence &amp; wellbeing
        </div>
    </div>
    <div class="navbar-toggler navbar-toggler-icon">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </div>
    <div class="navbar-nav-modal"></div>
    <ul class="navbar-mobile collapse">
        <div class="navbar-mobile-nav">
            <div class="navbar-name">
                MENU
            </div>
            <div class="navbar-toggler navbar-toggler-icon">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </div>
        </div>
        <li class="nav-item active">
            <a href="">Home</a>
        </li>
        <li class="nav-item">
            <a href="">About</a>
        </li>
        <li class="nav-item workshops">
            Workshops
        </li>
        <li class="nav-item dropdown">
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                  <a href="">Private Sessions</a>
              </li>
              <li class="dropdown-item">
                  <a href="">Small Groups</a>
              </li>
              <li class="dropdown-item">
                  <a href="">Nursery Level</a>
              </li>
              <li class="dropdown-item">
                  <a href="">Weekly Classes</a>
              </li>
              
        </ul>
      </li>
      <li class="nav-item">
          <a href="contact">Contact</a>
      </li>
    </ul>
    <ul class="navbar-desktop">
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="about">About</a>
      </li>
      <li class="nav-item dropdown">
        Workshops
        <ul class="dropdown-menu">
        <!-- Dropdown items are the ones built dynamically through a possible forEach loop -->
           <li class="dropdown-item"><a href="">Private Sessions</a></li>
           <li class="dropdown-item"><a href="">Small Groups</a></li>
           <li class="dropdown-item"><a href="">Nursery Level</a></li>
           <li class="dropdown-item"><a href="">Weekly Classes</a></li>
           <%if (typeof menuItems == "object" && menuItems) { %>
             <% menuItems.forEach(function(menuItem, index) { %>
              <li class="dropdown-item">
                <a href="<%=menuItem.href %>"><%=menuItem.name%></a>
              </li>
            <% }); %>
          <% } %>
        </ul>
      </li>
      <li class="nav-item">
          <a href="contact">Contact</a>
      </li>
    </ul>
  </nav>
