<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <header>
    <% include ../../partials/header.ejs %>
  </header>
  <h2>Welcome to the temporary admin page</h2>
    <% include ../../partials/flash-message.ejs %>
  <footer>
    <% include ../../partials/footer.ejs %>
  </footer>
</body>
</html>