<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <header>
    <% include ../../partials/header.ejs %>
  </header>
  <h2>Welcome to the change page</h2>
  <div class="container">  
    <form id="contact" method="post">
      <h4>Change email form</h4>
      <fieldset>
        <input placeholder="New email" name="email" type="email" tabindex="1" value="" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Password" name="password" type="password" tabindex="2" value="" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
    <% include ../../partials/flash-message.ejs %>
  </div>
  <footer>
    <% include ../../partials/footer.ejs %>
  </footer>
</body>
</html>