<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
    <% include ../partials/confirmation-message.ejs %>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <% include ../partials/profile-nav.ejs %>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Change Email Address</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="password">Password</label>
                                                <input name="password" type="password" id="password" class="form-control change-email-password" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="email">New Email Address</label>
                                                <input name="new_email" type="email" id="email" class="form-control new-email" value="<% (typeof user == 'object' && user) ? user.new_email : ''%>" placeholder="Current email.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="newEmail">Confirm Email Address</label>
                                                <input name="confirm_new_email" type="email" id="newEmail" class="form-control confirm-email" placeholder="New Email..." value="<% (typeof user == 'object' && user) ? user.new_email : ''%>"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="reset" class="btn btn-primary">Reset Changes</button>
                                <button class="btn btn-primary change-email-btn">Change Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <% include ../partials/footer.ejs %>
        
        <script src="/js/alert-message.js"></script>
        <script src="/js/change-email-ajax.js"></script>
</body>

</html>