<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <% include ../partials/profile-nav.ejs %>
                    <div class="col-lg-9">
                        <form class="card" action="" method="post">
                            <div class="card-body">
                                <h3 class="card-title">Change Passwords</h3>
                                <% include ../partials/password-alert-message.ejs %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="currentPassword">
                                                    Current Password
                                                </label>
                                                <input name="old_password" type="password" class="form-control" id="currentPassword" placeholder="Password" minlength="8" maxlength="100"
                                                    size="15" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="newPassword">
                                                    New Password
                                                </label>
                                                <input name="new_password" type="password" class="form-control" id="newPassword" placeholder="Password" minlength="8" maxlength="100"
                                                    size="15" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="confirmPassword">
                                                    Confirm Password
                                                </label>
                                                <input name="confirm_password" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" minlength="8"
                                                    maxlength="100" size="15" value="" required>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="reset" class="btn btn-primary">Reset Changes</button>
                                <button type="submit" class="btn btn-primary password-confirmation">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer.ejs %>
            <!-- Scripts -->
            <script src="/js/this-confirmation-message.js"></script>
</body>

</html>