<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
    
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="page-title mb-5">Profile</h3>
                        <div>
                            <div class="list-group list-group-transparent mb-0">
                                <a href="/users/profile" class="list-group-item list-group-item-action d-flex align-items-center active">
                                    <span class="icon mr-3">
                                        <i class="fe fe-user"></i>
                                    </span>Ginny Bradley
                                </a>
                                <a href="/users/change-password" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <span class="icon mr-3">
                                        <i class="fe fe-edit"></i>
                                    </span>Change Password
                                </a>
                                <a href="/users/change-email-request" class="list-group-item list-group-item-action d-flex align-items-center">
                                    <span class="icon mr-3">
                                        <i class="fe fe-mail"></i>
                                    </span>Change Email
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <form class="card" action="" method="post">
                            <div class="card-body">
                                <h3 class="card-title">Change Email Address</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="password">Password</label>
                                                <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="email">New Email Address</label>
                                                <input name="new_email" type="email" id="email" class="form-control" value="<% (typeof user == 'object' && user) ? user.new_email : ''%>" placeholder="Current email.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-label" for="newEmail">Confirm Email Address</label>
                                                <input name="confirm_new_email" type="email" id="newEmail" class="form-control" placeholder="New Email..." value="<% (typeof user == 'object' && user) ? user.new_email : ''%>"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="reset" class="btn btn-primary">Reset Changes</button>
                                <button type="submit" class="btn btn-primary email-confirmation">Change Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
        <% include ../partials/footer.ejs %>
        <% include ../partials/flash-message.ejs %>
      
</body>

</html>