<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
        <% include ../partials/delete-alert-message.ejs %>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <form action="/edit-user" method="post" class="card">
                                    <div class="card-body">
                                            <% if (title === "Create User") { %> 
                                                <h3 class="card-title">Create New User</h3>
                                            <% } else { %>
                                                <h3 class="card-title">Edit User</h3>
                                            <% } %> 
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="hidden" class="this_id" value="1" />
                                                    <div class="form-group">
                                                        <label class="form-label" for="name">Name</label>
                                                        <input name="first_name" type="text" class="form-control this_name" placeholder="Name" minlength="3" maxlength="64" size="32"  value="<% (typeof user == 'object' && user) ? user.firstName : '' %>" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="form-label" for="surname">Surname</label>
                                                                <input name="last_name" type="text" id="surname" class="form-control" placeholder="Surname" minlength="3" maxlength="64" size="32"  value="<% (typeof user == 'object' && user) ? user.lastName : ''%>" required>
                                                            </div>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="email">Email address</label>
                                                        <input name="email" type="email" id="email" class="form-control" placeholder="Email@Example.com" value="<% (typeof user == 'object' && user) ? user.email : ''%>" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <div class="card-footer text-right">
                                    <% if (title === "Edit User") { %> 
                                        <button name="delete_user" type="button" class="btn btn-danger delete-this">Delete User</button>
                                        <button name="update_user" type="submit" class="btn btn-primary">Update Details</button>
                                    <% } %>
                                    <% if (title === "Create User") { %> 
                                    <button name="create_user" type="submit" class="btn btn-primary">Create User</button>
                                    <% } %>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer.ejs %>
            <!-- Scripts -->
            <script src="/js/alert-message.js"></script>
</body>

</html>