<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../partials/header.ejs %>
  </header>
  <h2>This page requires email verified user to input a login password twice. Minimum of 8 characters. Max of 100.</h2>
  <br /><br /><br /><br /><br /><br /><br /><br />
  <form method="post" class="pure-form">
    <fieldset>
      <legend>Confirm password with HTML5</legend><br />
      <Label for="password">New Password</Label><br />
      <input name="password" type="password" placeholder="Password" id="password" required/> <br /><br />
      <Label for="password">Confirm New Password</Label><br />
      <input name="confirm_password" type="password" placeholder="Confirm Password" id="confirm_password" required/><br /><br />
      <input id="activation_token" name="activation_token" type="hidden" value="<%=user.activation_token%>">
      <input id="email" name="email" type="hidden" value="<%=user.email%>">
      <button style="border: 1px solid blue; background-color: red" action="post" type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>
  </form>
  <footer>
      <% include ../partials/footer.ejs %>
  </footer>
  <% include ../partials/flash-message.ejs %>
</body>
</html>