<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../../partials/header.ejs %>
  </header>
  <h2>This page requires email verified user to input a login password twice. Minimum of 8 characters. Max of 200.</h2>
  <footer>
      <% include ../../partials/footer.ejs %>
  </footer>
</body>
</html>