<body>
  
  <form class="pure-form">
    <fieldset>
      <legend>Confirm password with HTML5</legend>
      <label for="oldPassword">Old Password</label>
      <input type="password" placeholder="Password" id="oldPassword" required/><br />
      <Label for="password">New Password</Label>
      <input type="password" placeholder="Password" id="password" required/> <br />
      <Label for="password">Confirm New Password</Label>
      <input type="password" placeholder="Confirm Password" id="confirm_password" required/><br />
      <button type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>
  </form>
  <% include  ../../partials/flash-message.ejs %>
</body>