<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
        <% include ../partials/delete-alert-message.ejs %>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            Manage PDF Files
                        </h1>
                    </div>
                    <div class="row row-cards row-deck">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">PDFs</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>PDF Name</th>
                                                <th>Upload Date</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <input type="hidden" class="this_name" value="Private Sessions" />
                                                <input type="hidden" class="this_id" value="1" />
                                                <td>
                                                    <div>Elizabeth Martin</div>
                                                </td>
                                                <td>
                                                    <div>Private Sessions PDF</div>
                                                </td>
                                                <td>
                                                    11/06/2018
                                                </td>
                                                <td class="text-center">
                                                    <div class="item-action dropdown">
                                                        <a href="javascript:void(0)" data-toggle="dropdown" class="icon" aria-expanded="false">
                                                            <i class="fe fe-more-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(15px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a href="javascript:void(0)" target="_blank" class="dropdown-item">
                                                                <i class="dropdown-icon fe fe-book-open"></i> Open PDF </a>
                                                            <a href="javascript:void(0)" class="dropdown-item">
                                                                <i class="dropdown-icon fe fe-edit-2"></i> Copy Link </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a href="javascript:void(0)" class="dropdown-item delete-this">
                                                                <i class="dropdown-icon fe fe-trash"></i> Delete PDF</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <input type="hidden" class="this_name" value="Nursery Classes" />
                                                <input type="hidden" class="this_id" value="2" />
                                                <td>
                                                    <div>Elizabeth Martin</div>
                                                </td>
                                                <td>
                                                    <div>Nursery Classes PDF</div>
                                                </td>
                                                <td>
                                                    11/06/2018
                                                </td>
                                                <td class="text-center">
                                                    <div class="item-action dropdown">
                                                        <a href="javascript:void(0)" data-toggle="dropdown" class="icon" aria-expanded="false">
                                                            <i class="fe fe-more-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(15px, 20px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a href="javascript:void(0)" class="dropdown-item">
                                                                <i class="dropdown-icon fe fe-book-open"></i> Open PDF </a>
                                                            <a href="javascript:void(0)" class="dropdown-item">
                                                                <i class="dropdown-icon fe fe-edit-2"></i> Copy Link </a>
                                                            <div class="dropdown-divider"></div>
                                                            <a href="javascript:void(0)" class="dropdown-item delete-this">
                                                                <i class="dropdown-icon fe fe-trash"></i> Delete PDF</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form action="https://httpbin.org/post" method="post" class="card form-upload-pdf-height">
                                <div class="card-header">
                                    <h3 class="card-title">Upload New PDF</h3>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Title</label>
                                    <input name="title" type="text" class="form-control" name="title" placeholder="PDF title..." required>
                                </div>
                                <div class="form-group">
                                    <div class="form-label">Choose file</div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="example-file-input-custom">
                                        <label class="custom-file-label"></label>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary ml-auto">Upload File</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <% include ../partials/footer.ejs %>
        <!-- Scripts -->
        <script src="/js/alert-message.js"></script>
</body>

</html>