<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <form class="form" method="post">
        <fieldset>
            <legend class="title">New Password</legend>
            <% include ../../partials/flash-message.ejs %>
            <div class="form-box">
                <input class="input" name="old_password" id="old_password" type="password" minlength="8" maxlength="100" size="32" required>
                <label for="old_password">Enter your current password</label>
            </div>
            <div class="form-box">
                <input class="input" name="password" id="password" class="password" type="password" minlength="8" maxlength="100" size="15" value="" required>
                <label for="password"> Enter your new password: </label>
            </div>
            <div class="form-box">
                <input class="input" name="password2" id="password2" class="password2" type="password" minlength="8" maxlength="100" size="15" value="" required>
                <label for="password2"> Enter your password again: </label>
            </div>
        </fieldset>
        <button class="form-btn" value="Create Password" type="submit">Create Password</button>
    </form>
    <script src="/js/form.js"></script>
    <script src="/js/password-validation.js"></script>
    
</body>

</html>