<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <form class="card" action="" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Sign Up</div>
                                <% include ../partials/password-alert-message.ejs %>
                                <div class="form-group">
                                    <label class="form-label" for="email">Email address</label>
                                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" minlength="3" maxlength="64" size="32"  value="" required>
                                </div>
                                <div class="form-group">
                                        <label class="form-label" for="newPassword">
                                            New Password
                                        </label>
                                        <input name="new_password" type="password" class="form-control" id="newPassword" placeholder="Password" minlength="8" maxlength="100"
                                            size="15" value="" required>
                                    </div>
                                <div class="form-group">
                                        <label class="form-label" for="confirmPassword">
                                            Confirm Password
                                        </label>
                                        <input name="confirm_password" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" minlength="8" maxlength="100"
                                            size="15" value="" required>
                                    </div>
                                <div class="form-footer">
                                    <button type="reset" class="btn btn-primary btn-block">Reset</button>
                                    <button type="submit" class="btn btn-primary btn-block password-confirmation">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="js/this-confirmation-message.js"></script>
</body>

</html>