<div class="confirmation-overlay hide">
    <div class="confirmation-overlay-alert-message alert alert-success alert-dismissible">
       <button type="button" class="close close-confirmation-message"></button>
       <h4 class="confirmation-overlay-title"></h4>
       <p class="confirmation-overlay-message"></p>
   </div>
</div>