<div class="delete-user-overlay hide">
    <div class="delete-user-overlay-alert-message alert alert-success alert-dismissible">
       <button type="button" class="close close-delete-user-message"></button>
       <h4 class="delete-user-overlay-title"><%= messageTitle %></h4>
       <p class="delete-user-overlay-message"></p>
   </div>
</div>