<div class="email-alert">
    <div class="email-alert-message alert alert-warning alert-dismissible">
            <button type="button" class="close close-alert-message"></button>
            Email don't match
    </div>
</div>