<div class="manage-nav-overlay hide">
     <div class="manage-nav-overlay-alert-message alert alert-success alert-dismissible">
        <button type="button" class="close close-manage-nav-message"></button>
        <h4 class="manage-nav-overlay-title"><%= messageTitle %></h4>
        <p class="manage-nav-overlay-message"></p>
    </div>
</div>