<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                <div class="row align-items-center">
                    <div class="col-auto">
                        2018 ginnybradley.co.uk
                    </div>
                </div>
            </div>
            <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            Developers at <a href="https://www.coderlist.io/">coderlist.io</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</footer>
</div>
</div>