<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        Ginny Bradley
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(https://images.unsplash.com/photo-1475563011407-6bf489b1c361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd5b743b42d8cc767b58af0c51602c6&auto=format&fit=crop&w=1050&q=80)"></span>
                                <span class="ml-2 d-none d-lg-block">
                                    <span class="text-default">Ginny Bradley</span>
                                    <small class="text-muted d-block mt-1">Administrator</small>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="" class="nav-link active">
                                    <i class="fe fe-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                                    <i class="fe fe-box"></i> Users</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="" class="dropdown-item "> Create New User</a>
                                    <a href="" class="dropdown-item "> Edit User </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                                    <i class="fe fe-calendar"></i> Pages </a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="" class="dropdown-item ">Add Page</a>
                                    <a href="" class="dropdown-item ">Edit Page</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                                    <i class="fe fe-file"></i> PDFs</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="" class="dropdown-item ">Upload</a>
                                    <a href="" class="dropdown-item ">Delete</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>