/* Footer */

footer {
    width: 100%;
    padding: 1rem 0;
    border-top: 2px solid rgba( 000, 000, 000, 0.5);
}
footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 60rem; /* 960px / 16px = 60 */
    margin: 0 1rem;
}

.developed-by > a {
    color: rgb(114, 190, 215);
}