/* Global Styles across all pages */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #333333;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 60rem;
    max-width: 60rem;
    /* 960px / 16px = 60 */
    margin: 64px 1rem 1rem 1rem;
}
/*
*
*   Layout Styles
*   For pages
*
*/
.main-layout {
    font-size: 1rem;
    padding-top: 2rem;
    display: block;
}
.main-layout .row {
    overflow: hidden;
    height: 100%;
    width: 100%;
    clear: both;
    margin-bottom: 1rem;
}

.main-layout hr {
    border: 1px solid rgba( 000, 000, 000, 0.3);
    width: 100%;
} 
.main-layout h1 , .main-layout h2, .main-layout h3 {
    margin-bottom: 0.5rem;
}
.main-layout h1 {
    font-weight: 700;
    font-size: 1.5rem;
}
.main-layout h2 {
    font-weight: 700;
    font-size: 1rem;
}
.main-layout h3 {
    font-weight: 700;
    font-size: 0.8rem;
}
.main-layout p {
    padding: 1rem 0;
    line-height: 1.5rem;
}
.main-layout em {
    font-style: italic;
}
.main-layout strong {
    font-weight: 700;
}
.main-layout img {
    height: auto;
    width: 100%;
}
.main-layout ul, .main-layout ol {
    padding: 0.5rem;
}
.main-layout ul li, .main-layout ol li {
    margin-bottom: 0.5rem;
}
.main-layout ul li ul, .main-layout ol li ol,  .main-layout ul li ol, .main-layout ol li ul {
    margin-bottom: 0.5rem;
}
.main-layout blockquote {
    padding: 0.5rem 0;
}
.main-layout img.right
{   
    float: right;
}
.main-layout img.left
{
    float: left;
}
.main-layout span.right
{
    float: right;
}
.main-layout span.left
{
    float: left;
}

/* header */

header {
    width: 100%;
    height: inherit;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    color: #333333;
}

/* Navigation General */

.navbar {
    max-width: 60rem;
    /* 960 / 16 = 60rem */
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
}

.navbar .navbar-brand .navbar-brand-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem 0.5rem 0;
}

.navbar .navbar-brand .navbar-brand-description {
    display: none;
}

.navbar .navbar-brand {
    flex: 1;
}

/*  Mobile */
.navbar ul, .navbar ol, .navbar li {
    list-style: none;
}
.navbar .navbar-toggler-icon {
    width: 27px;
    cursor: pointer;
    justify-content: flex-end;
}

.navbar .navbar-toggler-icon .navbar-toggler-bar {
    display: block;
    width: 27px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #333333;
    border-radius: 3px;
}

.navbar .navbar-nav-modal {
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.navbar .navbar-mobile .nav-item {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    cursor: pointer;
    color: #333333;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.navbar .navbar-mobile .navbar-mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 1.3rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.navbar .navbar-mobile .navbar-mobile-nav .navbar-name {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.collapse {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
}

/* Mobile Dropdown-menu */

.navbar .navbar-mobile .dropdown {
    width: inherit;
}

.navbar .navbar-mobile .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    padding: 0.5rem;
    color: #333333;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.navbar .navbar-mobile .dropdown .dropdown-menu .dropdown-item:first-child {
    padding-top: 0;
    border: none;
}

.navbar .navbar-mobile .dropdown .dropdown-menu .dropdown-item:last-child {
    padding-bottom: 0;
}

/* Desktop */

.navbar .navbar-desktop {
    display: none;
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar .navbar-desktop .nav-item {
    cursor: pointer;
    width: 4rem;
    position: relative;
    padding: 0.5rem 0.5rem 0 0;
    margin: 0 1.5rem;
    align-self: flex-end;
}

/* Desktop Dropdown-menu */

.navbar .navbar-desktop .dropdown {
    width: auto;
    text-align: center;
}

.navbar .navbar-desktop .dropdown .dropdown-menu {
    display: none;
    flex-direction: column;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-desktop .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    padding: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 1);
    background: rgb(255, 255, 255);
}

.navbar .navbar-desktop .dropdown .dropdown-menu .dropdown-item:first-child {
    margin-top: 2rem;
}

.navbar .navbar-desktop .dropdown:hover .dropdown-menu {
    display: flex;
    position: absolute;
    top: 0;
    left: -1.7rem;
}

/* Page title, call to action text */

.page-title {
    padding: 1rem 0;
    font-weight: 700;
}

/*
*
*   Card Deck
*   Card, Card Title, Card Image
*   Card Body, Card Body Title, Card Body Text, Card Body Url
*
*/

.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-deck .card {
    display: flex;
    width: 100%;
    height: 18.75rem;
    margin: 0 0.25rem 0.5rem 0.25rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.card-deck .card .card-img {
    display: inline-block;
    height: auto;
    width: 100%;
}
.card-deck .card .card-title {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    padding: 1rem;
    width: 100%;
}
.card-deck .card .card-title, .card-deck .card .card-body {
    position: absolute;
}
.card-deck .card .card-title {
    bottom: 0;
}
.card-deck .card .card-body {
    bottom: -45px;
}
.card-deck .card .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.card-deck .card .card-body {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    padding: 1rem;
    cursor: pointer;
}
.card-deck .card .card-body .card-body-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.card-deck .card .card-body .card-body-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.card-deck .card .card-body .card-body-url a {
    text-decoration: underline;
    color: #333333; 
}

/* Footer */

footer {
    width: 100%;
    padding: 1rem 0;
    border-top: 2px solid rgba( 000, 000, 000, 0.5);
}

footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    max-width: 60rem;
    /* 960px / 16px = 60 */
    margin: 0 1rem;
}

.developed-by>a {
    color: rgb(114, 190, 215);
}

/* Reset input submit */

button {
    outline: none;
    background: none;
    border: none;
}

/* Contact Form */
input {
    font-size: 1.1rem;
}
textarea {
    font-size: 1.1rem;
}
.form {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.form .form-header .form-title {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
.form .form-group {
    width: 100%;
    margin: 0 0 1rem 0;
}
.form .form-group .form-label {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    display: block;
}
.form .form-group .form-control {
    height: 2rem;
    width: 100%;
}
.form .form-group .form-control, .form .form-group .form-control-text-area  {
    padding: 0.5rem;
}
.form .form-group .form-control-text-area {
    width: 100%;
}
.form .form-footer .btn {
    height: auto;
    font-size: 1rem;
    color: rgb(255, 255, 255 );
    margin-left: 0.5rem;
    padding: 1rem;
    background-color: rgb(114, 190, 215);
}
.form .form-footer {
    display: flex;
    justify-content: flex-end;
}



/* Media queries */

@media screen and (min-width: 500px) {
    .navbar .navbar-brand .navbar-brand-description {
        display: block;
    }
    footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 700px) {
    header {
        width: 100%;
    }
    main {
        margin: 84px 1rem 2rem 1rem;
    }
    .navbar-brand {
        flex: 1;
    }
    .navbar .navbar-mobile,
    .navbar-toggler {
        display: none;
    }
    .navbar .navbar-desktop {
        display: flex;
    }
    .card-deck .card {
        width: calc(50% - 0.5rem);
    }
    .form .form-group .form-control, .form .form-group .form-control-text-area  {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 900px) {
    main {
        margin: 84px auto 2rem auto;
    }
    .form {
        width: 960px;
    }
    .card-deck .card {
        width: calc(33% - 0.5rem);
    }
    .navbar {
        margin: 0 auto;
    }
    footer .container {
        margin: 0 auto;
    }
}