/* Global Styles across all pages */

* {
    box-sizing: border-box;
}

/* Layout styles */

.container {
    width:1150px;
    max-width:100%;
    padding-left:1em;
    padding-right:1em;
    margin:0 auto;
}

@media (max-width:1450px){
    .container {
        width: 1160px;
    }
}
@media (max-width:1200px){
    .container {
        width: 960px;
    }
}
@media (max-width:992px){
    .container {
        width: 794px;
    }
}
@media (max-width:768px){
    .container {
        width: 615px;
    }
}
@media (max-width:576px){
    .container {
        width: 461px;
    }
}

main {
    width: 100%;
    max-width: 60rem;
    margin-top: 100px !important;
    padding-top: 2em;
}



/* Library */

.push-footer-down {
    min-height: calc(100vh - 134px);
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* header */

header {
    width: 100%;
    height: inherit;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    color: #333333;
}

/* Navigation General */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.nav-item a {
    color:#333;
}

.navbar .navbar-brand .navbar-brand-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem 0.5rem 0;
}

.navbar-brand-name a {
    color:#333;
}

.navbar .navbar-brand .navbar-brand-description {
    display: none;
}

.navbar .navbar-brand {
    flex: 1;
}

/*  Mobile */
.navbar ul, .navbar ol, .navbar li {
    list-style: none;
}
.navbar .navbar-toggler-icon {
    width: 27px;
    cursor: pointer;
    justify-content: flex-end;
}

.navbar .navbar-toggler-icon .navbar-toggler-bar {
    display: block;
    width: 27px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #333333;
    border-radius: 3px;
}

.navbar .navbar-nav-modal {
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.navbar .navbar-mobile .navbar-mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.navbar .navbar-mobile .navbar-mobile-nav .navbar-name {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.collapse {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
}

/* Mobile Dropdown-menu */

.navbar .navbar-mobile .dropdown {
    width: 100%;
}

.navbar .navbar-mobile .nav-item {
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333333;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.navbar .navbar-mobile .nav-item a {
    width: 100%;
    display: block;
    padding: 1rem 0.5rem;
}
.navbar .navbar-mobile .nav-item a:hover {
    background-color: #f3f3f3;
}

.navbar .navbar-mobile .dropdown .dropdown-btn {
    display: block;
    padding: 1rem 0.5rem;
    width: 100%;
}
.navbar .navbar-mobile .dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
    padding-left: 1rem;
    color: #333333;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}
.navbar .navbar-mobile .dropdown .dropdown-menu .dropdown-item:hover, .navbar .navbar-mobile .dropdown .dropdown-btn:hover {
    background-color: #f3f3f3;
}

.navbar .navbar-mobile .dropdown .dropdown-menu .dropdown-item:first-child {
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

/* Desktop */

.navbar-desktop {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.navbar-desktop .nav-item, .navbar-desktop .dropdown .dropdown-btn {
    padding: 1rem;
    border: 1px solid transparent;
}

.navbar-desktop .dropdown {
    position: relative;
    height: auto;
    width: auto;
}
.navbar-desktop .dropdown:hover {
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-right: 1px solid rgba(0, 0, 0, 1);
    
}

.navbar-desktop .dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    top: 48px;
    left: -1px;
    z-index: 100;
    background-color: rgb(255, 255, 255 );
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.navbar-desktop .dropdown .dropdown-content .dropdown-item {
    border-top: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    text-align: center;
}

.navbar-desktop .dropdown:hover > .dropdown-content{
    display: block;
    width: calc(100% + 2px);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-right: 1px solid rgba(0, 0, 0, 1);
}

/* Page title, call to action text */

.page-title {
    padding: 1rem 0;
    font-weight: 700;
}

/*
*
*   Card Deck
*   Card, Card Title, Card Image
*   Card Body, Card Body Title, Card Body Text, Card Body Url
*
*/

.card-deck {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.card-deck .card {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 0 auto 1rem auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.card-deck .card .card-title {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    padding: 1rem;
    width: 300px;
}
.card-deck .card .card-title, .card-deck .card .card-body {
    position: absolute;
}
.card-deck .card .card-title {
    bottom: 0;
}
.card-deck .card .card-body {
    bottom: -45px;
}
.card-deck .card .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}
.card-deck .card .card-body {
    display: none;
    flex-direction: column;
    width: 300px;
    position: absolute;
    padding: 1rem;
    cursor: pointer;
}
.card-deck .card .card-body .card-body-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.card-deck .card .card-body .card-body-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.card-deck .card .card-body .card-body-url a {
    text-decoration: underline;
    color: #333333; 
}

/* Footer */

footer {
    width: 100%;
    padding: 1rem 0;
    border-top: 2px solid rgba( 000, 000, 000, 0.5);
}

footer .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    /* width: 100%; */
    /* max-width: 60rem; */
    /* 960px / 16px = 60 */
}

.developed-by>a {
    color: rgb(114, 190, 215);
}

/* Reset input submit */

button {
    outline: none;
    background: none;
    border: none;
}

/* Contact Form */
input {
    font-size: 1.1rem;
}
textarea {
    font-size: 1.1rem;
}
.form {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.form .form-header .form-title {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
.form .form-group {
    width: 100%;
    margin: 0 0 1rem 0;
}
.form .form-group .form-label {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    display: block;
}
.form .form-group .form-control {
    height: 2rem;
    width: 100%;
}
.form .form-group .form-control, .form .form-group .form-control-text-area  {
    padding: 0.5rem;
}
.form .form-group .form-control-text-area {
    width: 100%;
}
.form .form-footer .btn {
    height: auto;
    font-size: 1rem;
    color: rgb(255, 255, 255 );
    margin-left: 0.5rem;
    padding: 1rem;
    background-color: rgb(114, 190, 215);
}
.form .form-footer {
    display: flex;
    justify-content: flex-end;
}



/* Media queries */

@media screen and (min-width: 500px) {
    main {
        margin: 104px auto 2rem auto;    
    }
    .navbar .navbar-brand .navbar-brand-description {
        display: block;
    }
    footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 700px) {
    header {
        width: 100%;
    }
    main {
        max-width: 620px;
        padding: 0;
    }
    .card-deck {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-deck .card {
        display: flex;
        width: 300px;
        height: 300px;
        margin: 0 0.25rem 1rem 0.25rem;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    .navbar-brand {
        flex: 1;
    }
    .navbar .navbar-mobile,
    .navbar-toggler {
        display: none;
    }
    .navbar .navbar-desktop {
        display: flex;
    }
    .form .form-group .form-control, .form .form-group .form-control-text-area  {
        padding: 1.5rem;
    }
    footer {
        padding: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .form {
        width: 960px;
    }
    .navbar {
        margin: 0 auto;
    }
}