<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../partials/header.ejs %>
  </header>
  <h2>Welcome to the home page</h2>
  <footer>
      <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>