<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <form class="form" action="/newpassword" method="post">
        <fieldset>
            <legend class="title">New Password</legend>
            <div class="error error-pw">
                <div class="error-msg">
                    Passwords don't match.
                </div>
                <div class="close-msg">
                    x
                </div>
            </div>
            <div class="form-box">
                <input class="input" id="email" type="email" minlength="3" maxlength="64" size="32" required>
                <label for="email">Enter your email </label>
            </div>
            <div class="form-box">
                <input class="input" id="password" class="password" type="password" minlength="8" maxlength="15" size="15" value="" required>
                <label for="password"> Enter your new password: </label>
            </div>
            <div class="form-box">
                <input class="input" id="password2" class="password2" type="password" minlength="8" maxlength="15" size="15" value="" required>
                <label for="password2"> Enter your password again: </label>
            </div>
        </fieldset>
        <button class="form-btn" value="Create Password" type="submit">Create Password</button>
    </form>
    <script src="./js/form.js"></script>
    <script src="./js/password-validation.js"></script>
    <% include ../partials/flash-messages.ejs %>
</body>

</html>