<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../partials/header.ejs %>
  </header>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <% if (typeof messages !== "undefined") { %>
    <p>
      <strong><%=messages %></strong>
    </p>
    <% } %>
  <h2>Welcome to the finish page with, hopefully, a flash message.</h2>
  <footer>
      <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>