
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../partials/header.ejs %>
  </header>
  <h2>The "<%=url%>" url does not have the page you are looking for nor any other page. Sorry. If you think it should please contact the admin team.</h2>
  <footer>
      <% include ../partials/footer.ejs %>
  </footer>
</body>
</html>