<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../../partials/header.ejs %>
  </header>
  <h2>Welcome to the create user page</h2>
  <div class="container">  
    <form id="contact" action="" method="post">
      <h4>Create User Form</h4>
      <fieldset>
        <input placeholder="First name" type="text" tabindex="1" value="<%=user.firstName || ''%>" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="First name" type="text" tabindex="2" value="<%=user.lastName || ''%>" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="3" value="<%=user.email || ''%>" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
    <% include ../../partials/flash-message.ejs %>
  </div>
  <footer>
      <% include ../../partials/footer.ejs %>
  </footer>
</body>
</html>