<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head.ejs %>
</head>

<body>
  <header>
      <% include ../../partials/header.ejs %>
  </header>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <h2>Welcome to the about page</h2>
  <footer>
      <% include ../../partials/footer.ejs %>
  </footer>
</body>
</html>